@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #919389;
}

.wrapper {
    width: 997px;
    height: 843px;
    margin: 0 auto;
    position: relative;
    background-image: url(assets/terminal.png);
    background-position: top;
    background-repeat: no-repeat;
}

h1 {
    position: absolute;
    top: 17px;
    left: 423px;
    font-family: 'Press Start 2P', cursive;
}

.content {
    padding: 5px;
    position: absolute;
    top: 106px;
    left: 279px;
    vertical-align: middle;
    overflow: auto;
    width: 435px;
    height: 320px;
    border-radius: 20px;
    color:#64935c;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    text-align: center;
}

.left_buttons {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 253px;
    left: 138px;
    color: #414141;
    float: left;
}

.left_buttons span {
    margin: 15px;
    display: block;
}

.right_buttons {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 279px;
    left: 741px;
    color: blue;
}

.right_buttons button {
    color: blue;

}

.bottom_buttons {
    position: absolute;
    top: 438px;
    left: 296px;
    margin: 50px auto 0px auto;
}

.btn {
    font-size: 16px;
    display: inline-block;
    margin: 5px 20px 0 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #777777;
}

.btn:hover {
    color: black;
    cursor: pointer;
}

.btn.actived {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
